.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div {
  border: 1px solid red;
  padding: 40px;
  background-color: gainsboro;
}
