.App {
  text-align: center;
}
.App__headline {
  font-size: 40px;
  margin: 20px 0;
  color: blue;
}
.users__wrapper {
  padding: 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.user__wrapper {
  min-width: 430px;
  background-color: rgb(225, 122, 194);
  margin: 5px 5px;
  padding: 7px;
  border: 3px dotted rgb(8, 0, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__wrapper__img {
  margin-top: 3px;
  width: 200px;
}
.user__wrapper__img:hover {
  border: 2px solid red;
}

.user__wrapper p {
  margin: 3px 0;
  font-size: 20px;
}

@media (max-width: 738px) {
  .users__wrapper {
    padding: 0 3px;
  }
  .user__wrapper {
    margin: 5px 0;
    min-width: 370px;
  }
  .user__wrapper__img {
    display: none;
  }
}
